input{
    border: solid 1px rgba(42, 140, 167, .4) !important;
    border-radius: 5px !important;
}

.btn {
    color: rgb(42, 140, 167) !important;
    font-weight: bold;
}

.btn:hover {
    color: white !important;
}

.fas {
    font-size: 50px !important;
}

.netPay{
    font-weight: bold;
    color: darkgreen;
}

.grossPay {
    font-weight: bold !important;
    color: #36CBD4 !important;
}

hr {
    border: 0.5px solid #36CBD4 !important;
}

.pay {
    margin-bottom: 70px;
}